
webargs==8.6.0
#For name generator - генератор фейковых имен


#[code_style]-[BEGIN]
#Pre_commit hook - проверяет перед комитами
pre-commit==4.1.0
#Upgrage syntax - обновлять синтаксис, например: анотация типов
pyupgrade==3.19.1
#Formatter. Apply codestyle
black==24.10.0
#Check odestyle
flake8==7.1.1
#Removes unused imports and unused variables
autoflake==2.3.1
#[code_style]-[END]

#For making requests
requests==2.32.3

#Core
django==4.2.9

#For images
Pillow==9.5.0

#For forns
crispy-bootstrap5==0.7
#crispy-bootstrap5==2024.10


#For enviromment variables and configuration
django-environ==0.12.0

# For PostgreSQL.
psycopg2-binary==2.9.6


aiohttp[speedups]==3.8.4




#for map
folium==0.19.4

gunicorn==23.0.0

whitenoise==6.11.0

#for litestar and granian

litestar>=1.14
sqlalchemy>=2.0
asyncpg>=0.27
pydantic>=2.5
pydantic-settings>=1.0
uvicorn
granian
python-dotenv==1.0.1